@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Noto Serif KR', 'Malgun Gothic', system-ui, sans-serif;
  background-color: #0f0d0a;
  color: #e8dfc8;
}
